<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MPLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>asi-http-request.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>aware.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>rabbitmq-c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>rabbitmq-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>udid-ios5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>663511C0145BAB1100FA6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663511EF145BAB1100FA6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66351231145BB4EF00FA6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664D79EA1463987900E05B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665243FA1460C2F900131FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6652440B1460C38300131FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6652441A1460C4CB00131FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6654B650146709FE002191C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666AF82514665A4B00AA5767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B339E51468DA6C00615E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B5007B1465D72500283639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B500BA1465E1D100283639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B500D6146658CB00283639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B5FFDB1465D2AB00283639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66BE40E2145F1EBB0048807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66BE40F5145F1F8E0048807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66BE410E145F24690048807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
